body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1507146426996-ef05306b995a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
    margin: 0;
    padding: 0;
}
header {
    background-color: #4e3b2d;
    padding: 10px 0;
    color: white;
    text-align: center;
}
h1 {
    margin: 20px 0;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.order-summary {
    margin-bottom: 20px;
}
.order-summary p {
    margin: 5px 0;
}
.total {
    font-weight: bold;
    margin-top: 10px;
}
.payment-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.payment-methods button {
    background-color: #4e3b2d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}
.payment-methods button:hover {
    background-color: #d49a2a;
    transform: scale(1.05);
}
.payment-form {
    display: none;
    transition: opacity 0.3s ease-in-out;
}
.payment-form.active {
    display: block;
    opacity: 1;
}
.payment-form label {
    display: block;
    margin: 10px 0 5px;
}
.payment-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.payment-form button {
    background-color: #4e3b2d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
.payment-form button:hover {
    background-color: #d49a2a;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    margin-left: 20px;
}
nav a {
    text-decoration: none;
    color: #f7d799;
    font-weight: bold;
}
#clear-order {
background-color: #4e3b2d;
color: white;
border: none;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
font-size: 14px;
display: block;
margin: 20px auto;
transition: background-color 0.3s, transform 0.3s;
}

#clear-order:hover {
background-color: #d49a2a;
transform: scale(1.05);
}
